return {
    -- Use neotest-busted in all tasks
    _all = {
        lua = "nvim -l path/to/neotest-busted/scripts/test-runner.lua",
    },
    -- Default task to run if no task was specified
    default = {
        verbose = true,
    },
    integration = {
        tags = "integration",
        shuffle_files = true,
    },
}
